body {
    width: 320px;
    height: 500px;
}

.title {
    text-align: center;
    color: red;
}

.pic {
    display: block;
    width: 50px;
    height: 50px;
    margin-right: auto;
    margin-left: auto;
}

p {
    font-family: "Gill Sans MT";
    font-size: 13px;
    text-align: center;
}

.pause {
    background-color: white;
    border: 1px solid darkred;
    color: darkred;
    padding: 8px;
    width: 300px;
    text-align: center;
    font-family: "Gill Sans MT";
    font-size: 13px;
    margin: 0 auto;
    border-radius: 8px;
    -webkit-transition-duration: 0.6s;
    transition-duration: 0.6s;
}

.pause:hover {
    background-color: darkred;
    color: white;
}


.resume {
    background-color: white;
    border: 1px solid green;
    color: green;
    width: 300px;
    padding: 8px;
    text-align: center;
    font-family: "Gill Sans MT";
    font-size: 13px;
    margin: 0 auto;
    border-radius: 8px;
    -webkit-transition-duration: 0.6s;
    transition-duration: 0.6s;
}

.resume:hover {
    background-color: green;
    color: white;
}


.amount {
    text-align: center;
    color: green;
    background-color: lightyellow;
    padding: 2px;
    margin: 0 15px;

}

.stats {
    border-radius: 15px;
    padding: 5px;
    margin: 0 15px;

}

.linkToData {
    font-weight: bold;
}

button:focus {
    outline: none;
}