.impulse-window {
    position: fixed;
    background-color: #fff;
    left: 10%;
    right: 10%;
    top: 10%;
    bottom: 10%;
    z-index: 100001;
    border-radius: 5px;
    box-shadow: 0 20px 80px rgba(32,43,54,0.12);
    padding: 20px;
    text-align: center;
    color: #333;
    overflow: scroll;
}

.impulse-button:focus {
    outline: none !important;
}

.impulse-button {
    margin: 10px 20px 30px;
}

#impulse-close {
    margin: 0 auto;
}

.impulse-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #888;
    opacity: 0.6;
    z-index: 100000;
}
button {
    background-color:#44c767;
    border-radius:10px;
    border:1px solid #18ab29;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:12px;
    padding:6px 18px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
    transition-duration: 0.5s;
    font-weight: bold
}
button:hover {
    box-shadow: 0px 6px 20px -7px #276873;
}
button:active {
    position:relative;
    top:1px;
}
button2{
    background-color:#ff0000;
    border-radius:10px;
    border:1px solid #8b0000;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:12px;
    padding:6px 18px;
    text-decoration:none;
    text-shadow:0px 1px 0px #660708;
    transition-duration: 0.5s;
    font-weight: bold
}
button2:hover {
    box-shadow: 0px 6px 20px -7px #4c090f;;
}
button2:active {
    position:relative;
    top:1px;
}
