.impulse-window {
    position: fixed;
    background-color: #fff;
    left: 10%;
    right: 10%;
    top: 10%;
    bottom: 10%;
    z-index: 100001;
    border-radius: 5px;
    box-shadow: 0 20px 80px rgba(32,43,54,0.12);
    padding: 40px;
    text-align: center;
    color: #333;
    overflow: scroll;
}

.cycle-text {
    font-size: large;
    display: inline;
}

.impulse-window p {
    font-size: medium;
}

.impulse-button:focus {
    outline: none !important;
}

.impulse-button {
    margin: 10px 20px 40px;
}

#impulse-close {
    margin: 0 auto;
}

.impulse-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #555;
    opacity: 0.8;
    z-index: 100000;
}

button {
    /*background-color:#44c767;*/
    border-radius:5px;
    /*border:1px solid #18ab29;*/
    border: none;
    display:inline-block;
    cursor:pointer;
    /*color:#ffffff;*/
    font-family:Arial;
    /*font-size:12px;*/
    padding:8px 16px;
    text-decoration:none;
    /*text-shadow: 0px 1px 0px #2f6627;*/
    font-weight: bold;

    margin: 8px 0 20px 0;
    /*background: linear-gradient(65deg, rgb(18, 116, 237) -25%, rgb(18, 116, 237) 100%);*/
    background-color: white;
    color: #1274ED;
    box-shadow: 0 4px 12px rgba(32,43,54,0.42);
    width: 180px;
    height: 40px;
    font-size: 18px;
}

.impulse-clicked {
    /*background: linear-gradient(65deg, rgb(18, 116, 237) -25%, rgb(18, 116, 237) 100%);*/
    background: linear-gradient(65deg, #1274ED 0, #4992F0 100%);
    color: white;
}

.impulse-price {
    display: inline;
    font-weight: bold;
}

button:hover {
    /*box-shadow: 0px 6px 20px -7px #276873;*/
    box-shadow: 0 6px 14px rgba(32,43,54,0.42);
}
button:active {
    /*position:relative;*/
    /*top:1px;*/
}

.cycle-text {
    opacity: 1;
    transition: opacity 0.5s;
}

.cycle-text.impulse-fade {
    opacity: 0;
}

